.order {
    margin   : 60px 0px 0px 40px;
    font-size: 30px;
}

.orderTable {
    width          : 100%;
    table-layout   : auto;
    text-align     : center;
    border-collapse: collapse;
    font-size      : 25px;
}

.checkOut {
    background   : lightgreen;
}