/* * {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

header {
    margin         : 40px auto 10px;
    display        : flex;
    flex-flow      : wrap;
    justify-content: space-around;
    align-items    : center;
}

header h5 {
    font-size    : 50px;
    margin-bottom: 20px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    color          : black;
    padding        : 10px 30px;
    font-weight    : bold;
    font-size      : 25px;
}

header nav ul li a:hover {
    background-color: #6946F4;
    color           : white;
    cursor          : pointer;
    border-radius   : 5px;
    text-decoration : none;
} */

/* 
######################################
            SearchBar CSS Start  
######################################
*/
.main_home {
    display  : flex;
    flex-flow: column wrap;
}

.search {

    padding-left    : 10px;
    margin          : 40px auto;
    background-color: #F1F1F1;
    border-radius   : 5px;

    display        : flex;
    justify-content: center;
    align-items    : center;
}

.search img {
    width  : 35px;
    padding: 0 0 0 5px;
}

.search input {
    width           : 70%;
    padding         : 10px;
    margin          : 0 10px;
    font-size       : 25px;
    background-color: #F1F1F1;
    border          : 0;
    outline         : 0;
}

.search input:focus {
    background-color: white;
    border-radius   : 5px;
}

.search button {
    background-color          : #6946F4;
    padding                   : 15px 40px;
    color                     : white;
    font-size                 : 24px;
    border                    : 0;
    outline                   : 0;
    border-top-right-radius   : 5px;
    border-bottom-right-radius: 5px;
    cursor                    : pointer;
}

/* 
######################################
            Book CSS Start  
######################################
*/

.books_container {
    width          : 98%;
    margin         : 20px auto;
    display        : flex;
    flex-flow      : wrap;
    justify-content: space-evenly;
    align-items    : center;

}