* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

header {
    margin         : 40px auto 10px;
    display        : flex;
    flex-flow      : wrap;
    justify-content: space-around;
    align-items    : center;
}

header h5 {
    font-size    : 50px;
    margin-bottom: 20px;
}


nav ul {
    list-style: none;
    display   : flex;
    flex-wrap: wrap;
}

nav ul li {}

nav ul li a {
    text-decoration: none;
    color          : black;
    padding        : 10px;
    font-weight    : bold;
    font-size      : 25px;
}

nav ul li a:hover {
    background-color: #6946F4;
    color           : white;
    cursor          : pointer;
    border-radius   : 5px;
    text-decoration : none;
}

.check_label {
    font-size: 35px;
    float    : right;
    margin   : 10px 25px 0 0;
    cursor   : pointer;
    display  : none;
}

#checked {
    display: none;
    cursor : pointer;
}

@media (max-width: 750px) {
    ul {
        width           : 100%;
        min-height      : 100vh;
        display         : flex;
        flex-flow       : column;
        text-align      : center;
        justify-content : flex-start;
        position        : absolute;
        top             : 180px;
        left            : -100%;
        background-color: cadetblue;
        transition      : all .5s ease-in-out;
    }

    ul li:last-child {
        margin-bottom: 20px;
    }

    ul li {
        display: inline-block;
        margin : 20px 10px 0 10px;
    }

    .check_label {
        display: block;
    }

    #checked:checked~ul {
        left: 0;
    }
}















/* 
ul {
    display        : flex;
    justify-content: flex-end;
    margin-right   : 20px;
    list-style     : none;
}

ul li {
    margin-top   : 15px;
    margin-left  : 10px;
    border       : .5px solid black;
    border-radius: 3px;
    padding      : 10px 20px;
    cursor       : pointer;
}

ul li a {
    color          : black;
    text-decoration: none;
}

ul li:hover {
    background-color: coral;
}

.check_label {
    font-size: 35px;
    float    : right;
    margin   : 10px 25px 0 0;
    cursor   : pointer;
    display  : none;
}

#checked {
    display: none;
}


@media (max-width: 650px) {

    ul {
        width           : 100%;
        min-height      : 100vh;
        display         : flex;
        flex-flow       : column;
        text-align      : center;
        justify-content : flex-start;
        position        : absolute;
        top             : 180px;
        left            : -100%;
        background-color: cadetblue;
        transition      : all .5s ease-in-out;
    }

    ul li:last-child {
        margin-bottom: 20px;
    }

    ul li {
        display: inline-block;
        margin : 20px 10px 0 10px;
    }

    .check_label {
        display: block;
    }

    #checked:checked~ul {
        left: 0;
    }
} */